/**
  * Header based on flex--box philosophy
  */
#header{
    font-family: 'Open Sans', sans-serif;
    color: #60aee1;
    font-size: 18px;
    font-style: italic;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 27px;
    flex-wrap: wrap;
}
#header .slogan,
#header .logo,
#header .personal{
    border: 1px solid red;
}

#header .slogan{
    flex-basis: 300px;
}
#header .logo{
    text-align: center;
    flex-basis: 300px;
}
#header .personal{
    text-align: right;
    flex-basis: 300px;

}

@media (max-width: 750px) {
    
}