/**
  * Header based on flex--box philosophy
  */
#header{
    font-family: 'Open Sans', sans-serif;
    color: #60aee1;
    font-size: 18px;
    font-style: italic;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 27px;
    justify-content: space-between;
}
#header .slogan,
#header .logo,
#header .personal{
    border: 1px solid red;
    flex-basis: 20%;
}

#header .slogan{

}
#header .logo{
    text-align: center;

}
#header .personal{
    text-align: right;

}