/**
  * Header based on flex--box philosophy
  */
#header{
    font-family: 'Open Sans', sans-serif;
    color: #60aee1;
    font-size: 18px;
    font-style: italic;
    display: flex;
    flex-direction: column-reverse;
    padding-top: 13px;
    padding-bottom: 27px;
}
#header .slogan,
#header .logo,
#header .personal{
    border: 1px solid red;
}

#header .slogan{
    flex: 1;
}
#header .logo{
    text-align: center;
    flex: 2;
}
#header .personal{
    text-align: right;
    flex: 1;
}